//COLORS - PRIMARY
$color-primary-pink: #e24e42;
$color-primary-blue: #008f95;
$color-primary-yellow: #f8bd1c;

//COLORS - FONTS
$color-font-dark: #263238;
$color-font-light: #ffffff;

//COLORS - SECONDARY
$color-secondary-pink: #eb6e80;

// RESPONSIVE BREAKPOINTS
$bp-1200: 75em; // 1200px
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800px;
$bp-768: 48em; //768px;
$bp-600: 37.5em; // 600px;
